<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Listing Products (<%= @category.products.length %>)</h2>
<ul>
<!-- Product.where('category_id = ?',@category.id) -->
	<% @category.products.each do |product| %>
	<li><%= link_to product.name, product_path(product.id) %> <%= product.price %></li>
	<% end %>
</ul>

<% if user_signed_in? && current_user.is_admin %>
	<%= link_to 'Edit', edit_category_path(@category) %> |
	<%= link_to 'Back', categories_path %>
<% end %>

