<h2><%= @product.name %></h2>

<p> PRICE : INR <%= @product.price %> </p>
<p> DESCRIPTION : <%= @product.description %> </p>
<p> CATEGORY : <%= link_to @product.category.name, category_path(@product.category.id) %> </p>
<p>SUB_CATEGORY : <%#= @product.sub_category.name %></p>
<p> CODE : <%= @product.code %> </p>
<p> STOCK : <%= @product.stock %> </p>
<p> COD ELIGIBLE : <%= @product.cod_eligible %> </p>

<%= form_for @cart_line_item do |f| %>
   <%= f.label :quantity %>
   <%= f.select :quantity, (1..10).to_a %> <br/>

   <%= f.hidden_field :product_id, value: @product.id %>
   <%= f.submit "Add to cart" %>
<% end %>

<h2>Listing Reviews(<span id="count"><%= @product.reviews.length %></span>)</h2>
<ul id="reviewList">
	<% @product.reviews.each do |review| %>
    
  	 <li><%= review.body %> 
       | <%= review.rating %> 
      </li>
      <% if current_user.id == review.user_id || current_user.is_admin %>
          <%= link_to "destroy", review, method: :delete %>
      <% end %>
	<% end %>
</ul>

<div id="errorMsg"></div>
<%= render '/reviews/form' %>

<%= link_to @product.category.name, category_path(@product.category_id) %>

<%= link_to "List Products", products_path %>

<% if user_signed_in? && current_user.is_admin %>

  <%= link_to "Edit" ,edit_product_path(@product.id) %>

  <%= link_to "Destroy", product_path(@product.id), method: :delete, data: {confirm: "Are You Sure?"} %>
<% end %>

